*{
  margin: 0;
}
a{
  text-decoration:none;
}
a:hover{
  text-decoration-line:underline;
}
/*ul{
margin-top: 20px;
}*/
/*li{
  padding: 10px;
}*/
header nav #logospan{
  display: inline-block;
  float: left;
}
header{
  margin: -5px;
  width:100%;
  height:520px;
  background-image: url("https://mp-seoul-image-production-s3.mangoplate.com/web/resources/bndai-bcgf7x2rtb.jpg?fit=around|*:*&crop=*:*;*,*&output-format=jpg&output-quality=80");
}
#home, .links{
  color: white;
  background: orange;
  padding: 17px 30px 17px 30px;
    border-radius: 10px;
}
#home:hover, .links:hover{
  background-color: #ffb424;
  box-shadow: 0px 1px 1px #666;
}
#home:active , .links:active{
  background-color: #ff8f00;
}

font.bigfont{
  text-shadow: 0 0 25px black;
	-moz-text-shadow: 0 0 25px black;
	-webkit-text-shadow: 0 0 25px black;
}


.green_window {
	display: inline-block;
	width: 366px; height: 34px;
	border: 3px solid orange;
	background: white;
}
.input_text {
	width: 348px; height: 21px;
	margin: 6px 0 0 9px;
	border: 0;
	line-height: 21px;
	font-weight: bold;
	font-size: 16px;
	outline: none;
}
.sch_smit {
	width: 54px; height: 40px;
	margin: 0; border: 0;
	vertical-align: top;
	background: orange;
	color: white;
	font-weight: bold;
	border-radius: 1px;
	cursor: pointer;
  border-radius: 6px;
}
.sch_smit:hover {
	background: orange;
  background-color: #ffb424;
  box-shadow: 0px 1px 1px #666;
}
.sch_smit:active{
  background-color: #ff8f00;
}

#logospan, .green_window, #footer_span{
  margin-left: 25px;
}
#second,#third{
  width: 100%;
  height: 520px;
  white-space: nowrap;
  overflow-x:hidden;
}
.media_tasty, .media_tasty1, .media_tasty_korea{
  display:inline;
}
.media_tasty:first-child , .media_tasty1:first-child, .media_tasty_korea:first-child{
  margin-left: 90px;
}
.media_tasty:nth-child(2){
  margin-left: 1170px;
}
.media_tasty:nth-child(3){
  margin-left: 1170px;
}
.media_tasty1:nth-child(2){
    margin-left: 1140px;
}
.media_tasty1:nth-child(3){
    margin-left: 1140px;
}
.media_tasty_korea:nth-child(2){
    margin-left: 1230px;
}
.media_tasty_korea:nth-child(3){
    margin-left: 1220px;
}
#second_media, #third_media{
  white-space: nowrap;
}
#div1, #div2, #div3, #div4, #div5, #div6{
  width: 100%;
  height: 450px;
  border: 1px solid gray;
  display: inline-block;
}
/*article{
  width: 350px;
  height: 300px;
  margin:30px 0 0 80px;
  padding: 20px;
  border: 1px solid gray;
  display: inline-block;
}*/
.sample_image{
  display: inline-block;
}
.example{
  width: 350px;
  height: 300px;
  margin:30px 0 0 80px;
  padding: 20px;
  /*border: 1px solid gray;*/
  display: inline-block;
}
.example:hover{
  opacity: 0.9;
}
 .example_ul_kor, .example_ul_kor2, .example_ul_jap, .example_ul_jap3, .example_ul_sna,
 .example_ul_sna2, .example_ul_sna3, .example_ul_alc, .example_ul_alc2, .example_ul_alc3{
   margin-left: 160px;
   margin-top: 20px;
 }
  .example_ul_jap2{
    margin-left: 175px; margin-top: 20px;
  }
 .example_ul_chi,.example_ul_chi2{
   margin-left: 170px;
   margin-top: 20px;
 }
.example_ul_kor li, .example_ul_kor2 li, .example_ul_chi li, .example_ul_chi2 li,
.example_ul_jap li, .example_ul_jap2 li, .example_ul_jap3 li, .example_ul_sna li,
.example_ul_sna2 li, .example_ul_sna3 li, .example_ul_alc li, .example_ul_alc2 li,
.example_ul_alc3 li{
  display: inline;
}
.example_ul_alc3 li:nth-child(2){
  margin-left: 370px;
}
.example_ul_alc3 li:nth-child(3){
  margin-left: 370px;
}
.example_ul_alc2 li:nth-child(2){
  margin-left: 390px;
}
.example_ul_alc2 li:nth-child(3){
  margin-left: 350px;
}
.example_ul_alc li:nth-child(2){
  margin-left: 375px;
}
.example_ul_alc li:nth-child(3){
  margin-left: 375px;
}
.example_ul_sna3 li:nth-child(2){
  margin-left: 330px;
}
.example_ul_sna3 li:nth-child(3){
  margin-left: 370px;
}
.example_ul_sna2 li:nth-child(2){
  margin-left: 330px;
}
.example_ul_sna2 li:nth-child(3){
  margin-left: 330px;
}
.example_ul_sna li:nth-child(2){
  margin-left: 380px;
}
.example_ul_sna li:nth-child(3){
  margin-left: 350px;
}
.example_ul_jap3 li:nth-child(2){
  margin-left: 320px;
}
.example_ul_jap3 li:nth-child(3){
  margin-left: 335px;
}
.example_ul_jap2 li:nth-child(2){
  margin-left: 380px;
}
.example_ul_jap2 li:nth-child(3){
  margin-left: 360px;
}
.example_ul_jap li:nth-child(2){
  margin-left: 360px;
}
.example_ul_jap li:nth-child(3){
  margin-left: 350px;
}
.example_ul_chi2 li:nth-child(2){
  margin-left: 385px;
}
.example_ul_chi2 li:nth-child(3){
  margin-left: 380px;
}
.example_ul_chi li:nth-child(2){
  margin-left: 370px;
}
.example_ul_chi li:nth-child(3){
  margin-left: 360px;
}
.example_ul_kor li:nth-child(2) {
  margin-left: 350px;
}
.example_ul_kor2 li:nth-child(2){
  margin-left: 370px;
}
.example_ul_kor li:nth-child(3){
  margin-left: 310px;
}
.example_ul_kor2 li:nth-child(3){
  margin-left: 370px;
}
.example_ul{
  margin-left: 160px;
  margin-top: 20px;
}
.example_ul2{
  margin-left: 160px;
  margin-top: 20px;
}
.example_ul3{
  margin-top: 20px;
  margin-left: 160px;
}
.example_ul4{
  margin-top: 20px;
  margin-left: 160px;
}
.example_ul li {
  display: inline;
  margin:0 340px 0 0;
  padding: 10px;
}
.example_ul2 li{
  display: inline;
  margin:0 300px 0 0;
  padding: 10px;
}
.example_ul3 li{
  display: inline;
  margin:0 310px 0 0;
  padding: 10px;
}
.example_ul4 li{
  display: inline;
  margin:0 350px 0 0;
  padding: 10px;
}
.example_ul2 li:last-child{
  margin-left: 40px;
  padding: 10px;
}
.example_ul3 li:last-child{
  margin-left: 10px;
  padding: 10px;
}
#fourth{
  width: 100%;
  height: 520px;
  /*border: 1px solid gray;*/
  overflow: hidden;
}
#my_img{
  margin: 30px 0 0 70px;
  float: left;
}
#my_img:hover{
opacity:0.8;
}
#content{
  margin: 20px 0 0 50px;
  width: 780px;
  height: 450px;
  /*border: 1px solid gray;*/
  display: inline-block;
  float: left;
}
#content video{
  margin-left: 50px;
  margin-top: -20px;
  display: inline-block;
}


#footer{
  clear: both;
  width: 100%;
  height: 500px;
  background-color: #4A4A4A;
}
#footer_content{
  width: 80%;
  height: 450px;
  /*border: 1px solid white;*/
}
#footer_logo{
  width: 150px;
  height: 150px;
  border: 1px solid white;
  float: left;
  margin: 30px 0 0 30px;
}
#foot_table{
  margin-top: 30px;
  color: white;
  width: 500px;
  height: 250px;
  /*border: 1px solid white;*/
}
#foot_table table tr td{
  width: 220px;
  padding: 10px;
}

.button_example{
border:1px solid #ffad41; -webkit-border-radius: 50px; -moz-border-radius: 50px;border-radius: 50px;font-size:15px;font-family:arial, helvetica, sans-serif; padding: 12px 12px 12px 12px; text-decoration:none; display:inline-block;text-shadow: -1px -1px 0 rgba(0,0,0,0.3);font-weight:bold; color: #FFFFFF;
 background-color: #ffc579; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffc579), to(#fb9d23));
 background-image: -webkit-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -moz-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -ms-linear-gradient(top, #ffc579, #fb9d23);
 background-image: -o-linear-gradient(top, #ffc579, #fb9d23);
 background-image: linear-gradient(to bottom, #ffc579, #fb9d23);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffc579, endColorstr=#fb9d23);
}

.button_example:hover{
 border:1px solid #ff9913;
 background-color: #ffaf46; background-image: -webkit-gradient(linear, left top, left bottom, from(#ffaf46), to(#FF8426));
 background-image: -webkit-linear-gradient(top, #ffaf46, #FF8426);
 background-image: -moz-linear-gradient(top, #ffaf46, #FF8426);
 background-image: -ms-linear-gradient(top, #ffaf46, #FF8426);
 background-image: -o-linear-gradient(top, #ffaf46, #FF8426);
 background-image: linear-gradient(to bottom, #ffaf46, #FF8426);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#ffaf46, endColorstr=#FF8426);
}
.sample_image  img {
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1);
    -o-transform:scale(1);
    transform:scale(1);
    -webkit-transition:.3s;
    -moz-transition:.3s;
    -ms-transition:.3s;
    -o-transition:.3s;
    transition:.3s;
}
.sample_image:hover img {
    -webkit-transform:scale(1.2);
    -moz-transform:scale(1.2);
    -ms-transform:scale(1.2);
    -o-transform:scale(1.2);
    transform:scale(1.2);
}

figure{
  margin:0 30px 0 30px;
}
